@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

//variables
$grey: #a9a9a9;
$blue_hover_header: #1c688e;
$blue_hover_ligth: #2897c5;
$white: #FFFFFF;
$black: #000000;
$grey_light: #e8e8e8;

//style
body {
  min-height: 100%;
  font-family: Roboto; //'Open Sans', sans-serif;
  background: #F1F1F1; 

}

a {
  color: #333333; 
}


hr {
  margin: 10px 14px; 
}


header {
  background: $white;
  padding: 10px;
  border-bottom: 1px solid $grey_light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}

header:hover {
  background: $blue_hover_header;
}

header .searchbox-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; 
}

header .searchbox-container .input-group {
  margin-top: 5px; 
}

header .searchbox-container .input-group .form-control:focus {
  outline: none;
  box-shadow: none; 
}

header .searchbox-container .input-group .input-group-btn button {
  padding-left: 20px;
  padding-right: 20px;
  background: #F8F8F8;
  border-radius: 0; 
}

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1; 
}

section aside {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 10px;
  width: 230px;
  background: $white;
  border-right: 1px solid $grey_light; 
}

section aside .nav {
  margin: 0 20px; 
}

section aside .nav li a {
  display: block;
  padding: 2px 10px;
  margin: 10px 0; 
}

section aside .nav li a:hover {
  color: $white;
  background: #333333; 
}

section aside .nav li.separator {
  height: 1px;
  background: $grey_light; 
}

section aside h5 {
  color: #191919;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 20px; 
}

section aside .badge {
  font-size: .8em;
  background: #BBBBBB;
  position: relative;
  top: 1px; 
}

section aside #food-types label {
  display: block;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  font-weight: normal;
  font-size: .9em;
  margin: 0 0 -1px; 
}

section aside #food-types label:hover {
  color: $white;
  background: $blue_hover_ligth; 
}

section aside #food-types label input {
  display: none; 
}

section aside #food-types .active label {
  border: 1px solid $blue_hover_ligth;
  margin-top: -1px; 
}

section aside #food-types .active .badge {
  background: #333333; 
}

section aside #ratings {
  margin-left: 10px; 
}

section aside #ratings .ais-stars-list--link {
  font-size: .9em; 
}

section aside #ratings .ais-stars-list--link:hover, section aside #ratings .ais-stars-list--link:active, section aside #ratings .ais-stars-list--link:focus {
  text-decoration: none; 
}

section aside #ratings .ais-stars-list--count {
  font-size: 8px; 
}

section aside #ratings .ais-star-ratings--item {
  margin-bottom: 6px; 
}

section aside #ratings .ais-star-ratings--item__active a {
  color: #191919; 
}

section aside #payment-options label {
  display: block;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  font-weight: normal;
  font-size: .9em;
  margin: 0 0 -1px; 
}

section aside #payment-options label:hover {
  color: $white;
  background: $blue_hover_ligth; 
}

section aside #payment-options label input {
  display: none; 
}

section aside #payment-options .active label {
  border: 1px solid $blue_hover_ligth;
  margin-top: -1px; 
}

section aside #payment-options .active .badge {
  background: #333333; 
}

section article {
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 237px;
  margin-right: 10px;
  padding: 10px 0;
  max-width: 100%;
  background: $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

section article #stats {
  padding-left: 14px;
  font-size: .8em;
  line-height: 24px; 
}

section article #hits {
  padding: 0 15px; 
}

section article #pagination .pagination a {
  background: #F8F8F8;
  padding: 3px 8px;
  color: #333333;
  margin-right: 4px; 
}

section article #pagination .pagination a.active {
  border-color: #b5b5b5;
  background: $grey_light; 
}

section article #pagination .pagination a:hover {
  border-color: #cfcfcf;
  background: #ebebeb; 
}

section article .hit {
  margin-bottom: 10px;
  height: 130px;
  border: 1px solid #F3F3F3; 
}

section article .hit em {
  font-style: normal;
  background: #FFFFD4;
  text-decoration: underline; 
}

section article .hit .media-object {
  height: 130px;
  width: 120px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}

section article .hit .media-heading {
  color: $black;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.ais-search-box--input {
  padding-left: 14px; 
}

.genre .badge {
  background: #BBBBBB; 
}

.stars-count {
  color: #ffab66;
}

.rating-stars {
  margin-top: 13px;
}

.grey-color {
  color: $grey;
}

.restaurant-info {
  margin-top: 13px;
}

#clear-all {
  display: block;
  margin-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

#clear-all .btn {
  font-size: 13px; 
}

